@import "../../../base";
@import "../style.scss";

%input-spaces{
    margin: 5px 0 15px 0;
    padding: 10px 5px;
}

%dashed-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23C3C3C3FF' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.form-container{
    @extend %flex-center;
    flex-wrap: wrap-reverse;
    .image-display {
        flex: 2;
        @extend %flex-center;
        flex-wrap: wrap;
        div {
            text-align: center;
            margin: 15px;
        } .image-border{
            padding: 15px;
            height: 300px;
            width: 300px;
            @extend %flex-center;
            @extend %dashed-border;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    
    .proof-submission {
        flex: 1;
        display: flex;
        justify-content: justify-center;
        padding: 15px;
        flex-flow: column wrap;
        label {
            font-size: 12px;
            text-transform: uppercase;
            font-family: $primary-font;
            color: rgb(117, 117, 117);
        }
        input[type="text"] {
            @extend %input-spaces;
        }

        input::file-selector-button {
            @extend %input-spaces;
            margin-right: 10px;
            padding: 12px 25px;
            text-overflow: ellipsis;
            font-family: $primary-font;
            background-color: orange; 
            border: 0;
        }
    }
}

.display-container {
    @extend %flex-center;
    .display-box {
        padding: 10px;
        @extend %dashboard-spacing;
        .display-proofs{
            text-align: center;
            .display-images {
                @extend %flex-center;
                height: 200px;
                width: 362px;
                gap: 15px;
                img{
                    max-width: 50%;
                    max-height: 100%;
                }
            }
        }
    }
}