.topbar {
  background-color: black;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

.topbar ul{
  display: flex;
  font-size: 12px;
}

.topbar ul li {
  list-style-type: none;
  cursor: pointer;
  margin-right: 25px;
}

.topbar ul li a {
  color: white;
}