.login-page{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 251, 255);
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-input, .login-submit {
    width: 250px;
    height: 35px;
    padding: 5px 10px;
    margin: 10px 0;
    border: 0;
    box-shadow: 0px 0px 5px 2px rgb(245, 245, 245);
}

.login-input {border-radius: 5px;}

.login-submit{
    width: 100%;
    font-weight: 600;
    color: aliceblue;
    background-color: #00a2ff;
    transition: 0.15s ease-out;
}

.login-submit:hover {
    cursor: pointer;
    background-color: #27b0ff;
}

.login-validation {
    font-size: 12px;
    color: red;
    margin: 5px;
}