@font-face {
  font-family: 'Cuvia';
  src: local('Cuvia'), url(./assets/fonts/Cunia.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(./assets/fonts/OpenSans.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,300&display=swap');

$primary-font: Cuvia, sans-serif;
$text-font: OpenSans, sans-serif;
$button-text: 'Barlow', sans-serif;